// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Menu Border Radius
.menu-3sdvDG{
  border-radius: var(--context-menu-radius);
}

// Menu Spacing
.item-1tOPte {
  margin-bottom: var(--context-menu-spacing);
  margin-top: var(--context-menu-spacing);
}

// Menu Witdh
.layer-v9HyYc > .styleFlexible-wGDiIL {
	min-width: var(--context-menu-width);
}

// Sub Menu Witdh
.layer-v9HyYc > .submenuPaddingContainer-fiOCHc {
	min-width: var(--context-menu-width);
}

// Settings Menu Height
.scroller-3BxosC {
  max-height: var(--context-settings-height);
}

// Icon
.item-1tOPte::before {
  content: "";
  background: var(--context-icon-normal);
  margin-right: var(--context-icon-spacing);
  height: var(--context-icon-size);
  width: var(--context-icon-size);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  --icon: url("");
}

// Disabled
.disabled-1WRMNA {
  opacity: var(--context-disabled-opacity);
}

// Seperator
.separator-2I32lJ {
  border-color: var(--context-separator);
  margin: var(--separator-spacing-height) var(--separator-spacing-widtht) var(--separator-spacing-height) var(--separator-spacing-widtht);
}

// Menu Fix
#status-picker .item-1tOPte::before,
#channel-attach .item-1tOPte::before,
.submenuPaddingContainer-fiOCHc .item-1tOPte::before,
.item-1tOPte.hideInteraction-1iHO1O::before {
  content: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Sub Menu Icon Direction                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Reverse (Add Reaction)
.submenu-2-ysNh .item-1tOPte{
  flex-direction: row-reverse;
}

// Spacing (Add Reaction)
.submenu-2-ysNh .item-1tOPte .imageContainer-2fGqYU,
.submenu-2-ysNh .item-1tOPte .iconContainer-2-XQPY {
  margin-left: 0px;
  margin-right: 8px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Change icon (Group)                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.item-1tOPte#gdm-context-change-icon .labelContainer-1BLJti {
  padding: 0;
  min-height: 0;
}

.item-1tOPte#gdm-context-change-icon {
  display: flex;
  padding: 6px 8px;
  min-height: 32px;
  margin: 0px 12px 0px 0px;
}