// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Menu Border Radius
.menu-1QACrS{
  border-radius: var(--context-menu-radius);
}

// Menu Spacing
.item-1OdjEX {
  margin-bottom: var(--context-menu-spacing);
  margin-top: var(--context-menu-spacing);
}

// Menu Witdh
.layer-2aCOJ3 > .styleFlexible-x0_sIC {
	width: var(--context-menu-width);
}

// Sub Menu Witdh
.layer-2aCOJ3 > .submenuPaddingContainer-_k62dJ {
	min-width: var(--context-menu-width);
}

// Settings Menu Height
.scroller-1bVxF5 {
  max-height: var(--context-settings-height);
}

// Icon
.item-1OdjEX::before {
  content: "";
  background: var(--context-icon-normal);
  margin-right: var(--context-icon-spacing);
  height: var(--context-icon-size);
  width: var(--context-icon-size);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z M12.01,18 c-0.7,0-1.26-0.56-1.26-1.26c0-0.71,0.56-1.25,1.26-1.25c0.71,0,1.25,0.54,1.25,1.25C13.25,17.43,12.72,18,12.01,18z M15.02,10.6 c-0.76,1.11-1.48,1.46-1.87,2.17c-0.1,0.18-0.16,0.32-0.19,0.63c-0.05,0.45-0.45,0.78-0.9,0.78H12c-0.52,0-0.93-0.44-0.88-0.96 c0.03-0.34,0.11-0.69,0.3-1.03c0.49-0.87,1.42-1.39,1.96-2.16c0.57-0.81,0.25-2.33-1.37-2.33c-0.71,0-1.18,0.36-1.47,0.79 c-0.25,0.36-0.69,0.53-1.1,0.36l0,0C8.91,8.64,8.72,8,9.04,7.54C9.65,6.65,10.67,6,11.99,6c1.48,0,2.49,0.67,3.01,1.52 C15.44,8.24,15.7,9.59,15.02,10.6z'/%3E%3C/g%3E%3C/svg%3E");
}

// Disabled
.disabled-oOAXat {
  opacity: var(--context-disabled-opacity);
}

// Seperator
.separator-1So4YB {
  border-color: var(--context-separator);
  margin: var(--separator-spacing-height) var(--separator-spacing-width) var(--separator-spacing-height) var(--separator-spacing-width);
}

// Menu Fix
.item-1OdjEX[id^=now-playing-menu-]:not(#now-playing-menu-message, #now-playing-menu-play-undefined,
[id^=now-playing-menu-spotify-play], [id^=now-playing-menu-spotify-sync])::before,
#status-picker .item-1OdjEX::before,
#channel-attach .item-1OdjEX::before,
.submenuPaddingContainer-_k62dJ .item-1OdjEX::before,
.item-1OdjEX.hideInteraction-1iHO1O::before,
#channel-context-900::before,
#channel-context-3600::before,
#channel-context-28800::before,
#channel-context-86400::before,
#channel-context--1::before,
#subscription-context-cancel::before {
  content: none !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Sub Menu Icon Direction                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Reverse (Add Reaction)
.submenu-1apzyU .item-1OdjEX{
  flex-direction: row-reverse;
}

// Spacing (Add Reaction)
.submenu-1apzyU .item-1OdjEX .imageContainer-1wSPgI,
.submenu-1apzyU .item-1OdjEX .iconContainer-1-SsTR {
  margin-left: 0px;
  margin-right: 8px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Change icon (Group)                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.item-1OdjEX#gdm-context-change-icon .labelContainer-2vJzYL {
  padding: 0;
  min-height: 0;
}

.item-1OdjEX#gdm-context-change-icon {
  display: flex;
  padding: 6px 8px;
  min-height: 32px;
  margin: 0px 12px 0px 0px;
}