// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.react-datepicker {
  background: var(--background-floating) !important;
}

.react-datepicker__header,
.react-datepicker__heade,
.react-datepicker__current-month {
  background: transparent !important;
}

// Border
.datePicker--XZbmJ .react-datepicker__day {
  border-color: var(--background-tertiary) !important;
}

// Radius
.container-3ayLPN {
  border-radius: var(--context-menu-radius);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Day                                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Day (Normal)
.react-datepicker__day {
  background: var(--background-secondary-alt) !important;
  font-weight: 600;
}

// Day (Hover)
.react-datepicker__day:hover {
  background: var(--brand-experiment) !important;
}

.react-datepicker__day:not(.react-datepicker__day--outside-month, .react-datepicker__day--disabled):hover {
  color: white !important;
  font-weight: 600;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Outside Month                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Outside Month (Normal)
.react-datepicker__day--outside-month {
  background: transparent !important;
}
// Outside Month (Hover)
.react-datepicker__day--outside-month:hover {
  background: transparent !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Day Disabled                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Day Disabled (Normal)
.react-datepicker__day--disabled {
  background: transparent !important;
}
// Day Disabled (Hover)
.react-datepicker__day--disabled:hover {
  background: transparent !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Date Picker (Header)                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.datePicker--XZbmJ .react-datepicker__header  {
  background: var(--background-tertiary) !important;
  margin-bottom: 20px;
  border-radius: 8px;
}

// Header
.react-datepicker__current-month {
  border-color: transparent !important;
  margin-top: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

// Navigation (Left)
.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none;
  top: 30px;
  margin-left: 10px;
}

// Navigation (Right)
.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next {
  border: none;
  top: 30px;
  margin-right: 10px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Date Picker (Body)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Radius (Top Left)
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type {
  border-radius: var(--context-menu-radius) 0 0 !important;
}

// Radius (Top Right)
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type {
  border-radius: 0 var(--context-menu-radius) 0 0 !important;
}

// Radius (Bottom Left)
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type {
  border-radius: 0 0 0 var(--context-menu-radius) !important;
}

// Radius (Bottom Right)
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
  border-radius: 0 0 var(--context-menu-radius) !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Date Picker (Footer)                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

//Background
.datePicker--XZbmJ .datePickerHint-3Q1Udw {
  background: var(--background-tertiary) !important;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px 12px 12px 12px;
}

// Tag
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Calendar                 ║ Text                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Header
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__current-month {
  color: var(--calendar-text-normal);
}

// Date
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day-name {
  color: var(--calendar-text-normal);
  font-weight: 600;
}

// Text
.theme-dar .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4,
.theme-light .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
  color: var(--calendar-text-normal);
  font-weight: 400;
}