// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Filled                   ║ Mixins                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Deactivated (Normal)
@mixin deactivated-normal($item-id) {
  .item-1OdjEX##{$item-id} .iconContainer-1-SsTR {
    display: none;
  }
}

// Deactivated (Extra)
@mixin deactivated-extra($item-id) {
  .item-1OdjEX[id^=#{$item-id}] .iconContainer-1-SsTR {
    display: none;
  }
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Deactivated              ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// No Submenu                            
.submenuPaddingContainer-_k62dJ .item-1OdjEX .label-2gNW3x::before {
  display: none !important;
}

// Mute
@include deactivated-normal(stream-context-mute);

// Show Non-Video Participants
@include deactivated-normal(stream-context-no-video-hide);

// Sticker Suggestions
@include deactivated-normal(textarea-context-sticker-suggestions);

// Spellcheck
@include deactivated-normal(textarea-context-spellcheck);

// Mute
@include deactivated-normal(user-context-mute);

// Disable Video
@include deactivated-normal(user-context-disable-video);

// Collapse Category
@include deactivated-normal(channel-context-collapse-category);

// Spotify Shuffel (Powercord)
@include deactivated-normal(powercord-spotify-menu-shuffle);

// Server Profile
@include deactivated-normal(guild-header-popout-guild-profile);

// Server Boost
@include deactivated-normal(guild-header-popout-premium-subscribe);

// Invite People
@include deactivated-normal(guild-header-popout-invite-people);

// Server Settings
@include deactivated-normal(guild-header-popout-settings);

// Server Insights
@include deactivated-normal(guild-header-popout-insights);

// Create Channel
@include deactivated-normal(guild-header-popout-create-channel);

// Create Category
@include deactivated-normal(guild-header-popout-create-category);

// Create Event
@include deactivated-normal(guild-header-popout-create-event);

// Mark as Read
@include deactivated-normal(guild-header-popout-mark-guild-read);

// Notification Settings
@include deactivated-normal(guild-header-popout-notifications);

// Privacy Settings
@include deactivated-normal(guild-header-popout-privacy);

// Change Nickname
@include deactivated-normal(guild-header-popout-change-nickname);

// Hide Muted Channels
@include deactivated-normal(guild-header-popout-hide-muted-channels);

// Leave Server
@include deactivated-normal(guild-header-popout-leave);

// Hide Muted Channles
@include deactivated-normal(guild-context-hide-muted-channels);

// Deafen
@include deactivated-normal(user-context-deafen);

// Server Mute
@include deactivated-normal(user-context-voice-mute);

// Server Deafen
@include deactivated-normal(user-context-voice-deafen);

// Edit Message
@include deactivated-normal(message-actions-edit);

// Pin Message
@include deactivated-normal(message-actions-pin);

// Reply
@include deactivated-normal(message-actions-reply);

// View Thread
@include deactivated-normal(message-actions-goto-thread);

// Create Thread
@include deactivated-normal(message-actions-thread);

// Mark Unread
@include deactivated-normal(message-actions-mark-unread);

// Copy Message Link
@include deactivated-normal(message-actions-copy-link);

// Speak Message
@include deactivated-normal(message-actions-tts);

// Delete Message
@include deactivated-normal(message-actions-delete);

// Copy ID
@include deactivated-normal(message-actions-copy-id);

// Spotify
@include deactivated-extra(spotify-toggle);

// Include @everyone mentions
@include deactivated-normal(mentions-filter-Everyone);

// Include @role mentions
@include deactivated-normal(mentions-filter-Roles);

// Video Device
@include deactivated-extra(video-device-context-video-device);

// Include @role mentions
@include deactivated-normal(rtc-channel-VOICE_ACTIVITY);

// Include @role mentions
@include deactivated-normal(rtc-channel-PUSH_TO_TALK);

// Include @role mentions
@include deactivated-normal(rtc-channel-show-voice-states);

// Set as default duration
@include deactivated-normal(channel-context-dmdc-default);

// Hide Names
@include deactivated-normal(channel-context-hide-voice-names);

// Audio Device
@include deactivated-extra(audio-device-context-input);

// Audio Device
@include deactivated-extra(audio-device-context-output);

// Voice Activity
@include deactivated-normal(audio-device-context-VOICE_ACTIVITY);

// Push to Talk
@include deactivated-normal(audio-device-context-PUSH_TO_TALK);

// Push to Talk
@include deactivated-normal(audio-device-context-voice-settings);

// Search
@include deactivated-normal(thread-context-search);

// Pins
@include deactivated-normal(thread-context-pins);

// View Server As Role
@include deactivated-normal(guild-settings-role-context-view-as-role);

// Delete
@include deactivated-normal(guild-settings-role-context-delete-role);

// Report Server
@include deactivated-normal(guild-entry-context-report-server-listing);