// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Slider                   ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background (Normal)
.sliderContainer-2nidiS {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  background: var(--slider-background-normal);
  border-radius: var(--slider-background-radius);
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

// Background (Hover)
.sliderContainer-2nidiS:hover {
  background: var(--slider-background-hover);
}

// Slider
.slider-1NC-Gf {
  padding-top: 8px;
}

// Graber
.mini-2qY9iv .grabber-2GQyvM {
  width: 12px;
  height: 12px;
  margin-left: -7px;
  margin-top: 6.4px;
  border-radius: 50%;
  background:  var(--slider-graber-color);
  border-color:  var(--slider-graber-color);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Slider                   ║ Icons                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


// Text
.item-1OdjEX#audio-device-context-input .label-2gNW3x,
.item-1OdjEX#audio-device-context-output .label-2gNW3x,
.item-1OdjEX#powercord-spotify-menu-volume .label-2gNW3x {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

// Icon
.sliderContainer-2nidiS::before {
  content: "";
  width: auto;
  height: 20px;
  margin-right: 8px;
  margin-top: 0px;
  background: var(--context-icon-normal);
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  flex-shrink: 0;
}